.personal-info-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #014053, #0c0c0c, #6b010f, #faf8f8);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    padding: 20px;
}
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.info-section {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    max-width: 600px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    margin-top: 10%;
}
.info-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #00ffff;
}
.profile-section {
     width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #00ffff;
}
.info-section a {
    color: #00c6ff;
    text-decoration: none;
}
.info-section a:hover {
    text-decoration: underline;
}